<div class="admin-panel">
    
    <h1 class="admin-welcome">Welcome Mr. Ashutosh Trivedi</h1>
    <h3 class="admin-roles-list">What operations do you want to perform today?</h3>
    <div class="admin-roles">
        <div class="admin-role crud-on-user">
            <div class="role-heading">Operations on Users</div>
            <div class="role-description">Create, read, update and delete users from the database.</div>
            <div class="role-link">
                <button mat-raised-button color="primary" class="role-button"  (click)="userOp()">Begin</button>    
            </div>
            
        </div>
        <div class="admin-role crud-on-post">
            <div class="role-heading">Operations on Questions</div>
            <div class="role-description">Read, delete Question from the database.</div>
            <div class="role-link">
                <button mat-raised-button color="primary" class="role-button">Begin</button>    
            </div>
        </div>
        <div class="admin-role crud-on-comments">
            <div class="role-heading">Operations on Comments</div>
            <div class="role-description">Read, delete comments from the database.</div>
            <div class="role-link">
                <button mat-raised-button color="primary" class="role-button">Begin</button>    
            </div>
        </div>

    </div>


</div>
