<div class="user-post">
    <div class="post-items">
        <button mat-raised-button color="primary" class="user-name">Rohan Bagul</button>
    </div>
    <div class="post-items post-title">How to complete this capstone</div>
    <div class="post-items post-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eligendi rerum molestiae eius aperiam quod tenetur? Ducimus, libero distinctio amet numquam at vel ex. Fuga dicta illo aperiam itaque fugiat?</div>
    <div class="post-items post-img">
        
    </div>
    <div class="post-items post-comments">Comments</div>
    <div class="post-items post-top-comment">
        <div class="post-items">
            <button mat-raised-button color="primary" class="comment-name">Ankit Dwivedi</button>
        </div>
        <div class="comment-discription">Not in this life bro :(</div>
    </div>
    
</div> 
