.generate-post{
    font-family: 'Raleway', sans-serif;
}
.heading{
    margin:30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.card{
    width:50%;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.field{
    width: 100%;
}
.form-buttons{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}
.form-button{
    font-size: 23px;
    padding: 6px 20px;
    background-color: #A27B5C;
    border-radius: 20px;
}