<!-- <button mat-raised-button color="primary">Sign-In as a User</button> -->
<div class="home-body">
    <h1>Do-Connect</h1>
    <div class="body-discription">Do-Connect is a popular Question and Answer form in which technical questions are asked and
        answered.</div>
    <div class="home-links">
        <button mat-raised-button color="primary" class="home-button">Sign-In as a User</button>
        <button mat-raised-button color="primary" class="home-button" >Sign-In as a Admin</button>
    </div>

</div>
